<ul class="additional-info" th:fragment="additional_info(lp)">
    <li>
        <header th:text="|#{org.gotocy.dictionary.covered-area}:|">Covered Area:</header>
        <figure th:utext="|${lp.property.coveredArea} #{org.gotocy.dictionary.meters}<sup>2</sup>|">123 m<sup>2</sup></figure>
    </li>
    <li>
        <header th:text="|#{org.gotocy.dictionary.plot-size}:|">Plot Size:</header>
        <figure th:utext="|${lp.property.plotSize} #{org.gotocy.dictionary.meters}<sup>2</sup>|">123 m<sup>2</sup></figure>
    </li>
</ul>