<dl th:fragment="quick_summary_dl(lp)">
    <dt th:text="|#{org.gotocy.dictionary.location}:|">Location:</dt>
        <dd th:text="${{lp.property.location}}">Chicago, IL 60610</dd>

    <dt th:text="|#{org.gotocy.dictionary.property-type}:|">Property Type:</dt>
        <dd th:text="${{lp.property.propertyType}}">House</dd>

    <dt th:text="|#{org.gotocy.dictionary.ready-to-move-in}:|">Ready to Move in:</dt>
        <dd th:text="${lp.property.readyToMoveIn}? #{org.gotocy.dictionary.yes} : #{org.gotocy.dictionary.no}">Yes</dd>

    <dt th:text="|#{org.gotocy.dictionary.status}:|">Status:</dt>
        <dd th:text="#{org.gotocy.dictionary.sold}">Sold</dd>

    <dt th:text="|#{org.gotocy.dictionary.price}:|">Price:</dt>
        <dd><span class="tag price" th:utext="|<del>${helper.price(#object.property)}</del>|"><del>$ 78,000</del></span></dd>

    <dt th:text="|#{org.gotocy.dictionary.covered-area}:|">Covered Area:</dt>
        <dd th:utext="|${lp.property.coveredArea} #{org.gotocy.dictionary.meters}<sup>2</sup>|">123 m<sup>2</sup></dd>

    <dt th:text="|#{org.gotocy.dictionary.plot-size}:|">Plot Size:</dt>
        <dd th:utext="|${lp.property.plotSize} #{org.gotocy.dictionary.meters}<sup>2</sup>|">123 m<sup>2</sup></dd>

    <dt th:text="|${#messages.msg(helper.pluralize('org.gotocy.dictionary.bedrooms', #object.property.bedrooms))}:|">Bedrooms:</dt>
        <dd th:text="${lp.property.bedrooms}">3</dd>

    <dt th:text="|#{org.gotocy.dictionary.distance-to-sea}:|">Distance to Sea:</dt>
        <dd th:text="${helper.distance(lp.property.distanceToSea)}">100 m</dd>
</dl>