<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en-US" th:lang="${#locale.language}" th:with="curPath='/user/welcome'">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:each="locale : ${T(org.gotocy.config.Locales).SUPPORTED}" rel="alternate" th:hreflang="${locale.language}" th:href="@{${helper.path('/user/welcome', locale)}}" hreflang="en"  href="#" />

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link th:href="@{/assets/css/application.min.css}" href="/parent/webapp/public/assets/css/application.min.css" rel="stylesheet" type="text/css">

    <title th:text="${i18n.t('templates.title', i18n.t('dictionary.welcome'))}">Welcome | GoToCy</title>

</head>

<body class="page-sub-page page-profile page-account" id="page-top">
<!-- Wrapper -->
<div class="wrapper">
    <!-- Navigation -->
    <div class="navigation" th:include="fragments/navigation_div :: navigation('/user/welcome', ${false})"></div>
    <!-- end Navigation -->

    <!-- Page Content -->
    <div id="page-content">
        <!-- Breadcrumb -->
        <div class="container">
            <ol class="breadcrumb">
                <li><a th:href="@{${helper.path('/')}}" th:text="${i18n.t('dictionary.home')}" href="#">Home</a></li>
                <li class="active" th:text="${i18n.t('dictionary.welcome')}">My Profile</li>
            </ol>
        </div>
        <!-- end Breadcrumb -->

        <div class="container">
            <div class="row">
                <!-- sidebar -->
                <div class="col-md-3 col-sm-2">
                    <section class="sidebar">
                        <aside>
                            <header><h3 th:text="${i18n.t('dictionary.navigation')}">Navigation</h3></header>
                            <ul class="sidebar-navigation">
                                <li><a href="#" th:href="${helper.path('/user/profile')}"><i class="fa fa-user fa-fw"></i><span th:text="${i18n.t('dictionary.my-profile')}">My Profile</span></a></li>
                                <li><a href="#" th:href="${helper.path('/user/properties')}"><i class="fa fa-home fa-fw"></i><span th:text="${i18n.t('dictionary.my-properties')}">My Properties</span></a></li>
                            </ul>
                        </aside>
                    </section><!-- /#sidebar -->
                </div><!-- /.col-md-3 -->
                <!-- end Sidebar -->

                <!-- My Profile -->
                <div class="col-md-9 col-sm-10">
                    <section id="welcome">
                        <header><h1 th:text="${i18n.t('dictionary.welcome')}">Welcome</h1></header>
                        <article class="blog-post">
                            <section class="block">
                                <p th:utext="|<strong>${#authentication.principal.contacts.name}</strong>, welcome to GoToCy website!|">
                                    <strong>Denis</strong>, welcome to GoToCy website!
                                </p>
                                <p>
                                    As a registered user you now have a privilege to control all of your properties as well as your personal contact details.
                                    Let me briefly describe a couple of important actions you need to perform as your first steps in our system.
                                </p>
                            </section>

                            <section class="block">
                                <h3>Step #1 - Specify your contact details</h3>
                                <p>
                                    The first step is to specify contact details that visitors of your property's pages will be using to send their requests. The form will ask you to provide the following details:
                                </p>
                                <ul>
                                    <li>Your name (mandatory field)</li>
                                    <li>Contact email (mandatory field)</li>
                                    <li>Contact phone</li>
                                    <li>Languages that you are able to use</li>
                                </ul>
                                <p>
                                    Type in whatever you think is reasonable. Note that you can access the form at any time by clicking on the "My Profile" link of the "Navigation" bar.
                                </p>
                                <div class="text-center">
                                    <a th:href="${helper.path('/user/profile')}" class="btn btn-default text-center" target="_blank" style="width: 150px;">Specify Contacts</a>
                                </div>
                            </section>

                            <section class="block">
                                <h3>Step #2 - Add your first property object</h3>
                                <p>
                                    The next step is to add your property object. Feel free to skip this step if you already have one (you can verify it <a href="#" th:href="${helper.path('/user/properties')}" target="_blank">here</a>). The form will ask you to provide the following details about your property:
                                </p>
                                <ul>
                                    <li>Title</li>
                                    <li>Property type</li>
                                    <li>Plot size (if applicable)</li>
                                    <li>Covered area</li>
                                    <li>Floor(s)</li>
                                    <li>Number of bedrooms</li>
                                    <li>Number of guests</li>
                                    <li>Distance to sea</li>
                                    <li>Text description of your property</li>
                                    <li>Position on a map</li>
                                    <li>Pictures of your property</li>
                                </ul>
                                <p>
                                    Be patient and carefully fill all of the required fields!
                                </p>
                                <p>
                                    You can add as many properties as you wish later.
                                    Just click on the "My Properties" link of the "Navigation" bar. You will be redirected to the properties management page.
                                    From there you will be able to access the form by clicking on the "Add New Property" link of the "Actions" bar.
                                </p>
                                <div class="text-center">
                                    <a th:href="${helper.newPath('/user/properties')}" class="btn btn-default text-center" target="_blank" style="width: 150px;">Add Property</a>
                                </div>
                            </section>

                            <section class="block">
                                <h3>Step #3 - Start offering your property</h3>
                                <p>
                                    And the last but probably one of the most important steps is to start offering your property to visitors of the website by specifying offer conditions.
                                    You will be asked to choose offer type, offer status and
                                </p>
                                <div class="text-center">
                                    <a th:href="${helper.path('/user/welcome/redirect-to-first-inactive-offer')}" class="btn btn-default text-center" target="_blank" style="width: 150px;">Start Offering</a>
                                </div>
                            </section>

                            <section class="block">
                                <h3><i class="fa fa-life-ring"></i> Getting help</h3>
                                <p>
                                    If you have any questions please <a href="mailto:support@gotocy.com">write to us</a> and we will help you!
                                </p>
                            </section>
                        </article>
                        <p th:utext="${helper.page.get('user-welcome', #locale)}"></p>
                    </section><!-- /#welcome -->
                </div><!-- /.col-md-9 -->
                <!-- end My Profile -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
    <!-- end Page Content -->

    <footer id="page-footer" th:include="fragments/footer :: footer"></footer>
</div>

<script type="text/javascript" th:src="@{/assets/js/application.min.js}" src="/parent/webapp/public/assets/js/application.min.js"></script>

<!--[if gt IE 8]>
<script type="text/javascript" src="http://assets.gotocy.com/static/js/ie.js"></script>
<![endif]-->

</body>
</html>