<dl th:fragment="quick_summary(lp)" th:with="isFurnitured=${lp.property.furnished},hasHeating=${lp.property.heatingSystem}">
    <dt th:text="|#{org.gotocy.dictionary.location}:|">Location:</dt>
        <dd th:text="${{lp.property.location}}">Chicago, IL 60610</dd>
        
    <dt th:text="|#{org.gotocy.dictionary.property-type}:|">Property Type:</dt>
        <dd th:text="${{lp.property.propertyType}}">House</dd>

    <dt th:text="|#{org.gotocy.dictionary.rental}:|">Rental:</dt>
        <dd th:text="${{lp.property.propertyStatus}}">Long Term</dd>

    <dt th:text="|#{org.gotocy.dictionary.price}:|">Price:</dt>
        <dd><span class="tag price" th:utext="${helper.price(#object.property)}">$ 78,000</span></dd>

    <dt th:text="|${#messages.msg(helper.pluralize('org.gotocy.dictionary.bedrooms', lp.property.bedrooms))}:|">Bedrooms:</dt>
        <dd th:text="${lp.property.bedrooms}">3</dd>

    <dt th:text="|#{org.gotocy.dictionary.furnishing}:|">Furnishing:</dt>
        <dd th:text="${{lp.property.furnishing}}">Full</dd>

    <dt th:text="|#{org.gotocy.dictionary.heating-system}:|">Heating System:</dt>
        <dd th:text="${lp.property.heatingSystem}? #{org.gotocy.dictionary.yes} : #{org.gotocy.dictionary.no}">Yes</dd>
</dl>