<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en-US" th:lang="${#locale.language}"
      th:with="propertyStatus=${propertiesSearchForm.propertyStatus},
        propertyType=${propertiesSearchForm.propertyStatus},
        location=${propertiesSearchForm.location},
        curPath = ('/properties?' + ${propertiesSearchForm.paramsForUrl}),
        title = #{'org.gotocy.templates.property.index' + (${propertyStatus != null}? ('.' + ${propertyStatus}) : '') + '.title'},
        breadcrumps = #{org.gotocy.templates.property.index.breadcrumps},
        breadcrumpsForStatus = #{'org.gotocy.templates.property.index' + (${propertyStatus != null}? ('.' + ${propertyStatus}) : '') + '.breadcrumps'}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="alternate" hreflang="en" th:href="@{${helper.path(curPath, 'en')}}" href="#" />
    <link rel="alternate" hreflang="ru" th:href="@{${helper.path(curPath, 'ru')}}" href="#" />

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link th:href="@{/assets/css/application.min.css}" href="/parent/webapp/public/assets/css/application.min.css" rel="stylesheet" type="text/css">

    <title th:text="#{org.gotocy.templates.title(${title})}">Properties Listing | GoToCy</title>

</head>

<body class="page-sub-page page-listing-masonry page-search-results" id="page-top">
<div th:replace="fragments/metrics_div :: ya"></div>
<!-- Wrapper -->
<div class="wrapper">
    <!-- Navigation -->
    <div class="navigation">
        <div class="secondary-navigation">
            <div class="container">
                <div class="contact" th:include="fragments/contact_div :: contact">
                    <figure><strong>Phone:</strong>+1 810-991-3842</figure>
                    <figure><strong>Email:</strong>zoner@example.com</figure>
                </div>
                <div class="user-area">
                    <div class="language-bar" th:include="fragments/language_bar_div :: language_bar(${curPath})">
                        <a href="#" class="active"><img src="/parent/webapp/public/assets/img/flags/gb.png" alt=""></a>
                        <a href="#"><img src="/parent/webapp/public/assets/img/flags/ru.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <header class="navbar" id="top" role="banner">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only" th:text="#{org.gotocy.dictionary.toggle-navigation}">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand nav" id="brand">
                        <a th:href="@{${helper.path('/', #locale.language)}}" href="/parent/webapp/templates/home/index.html"><img th:src="'http://assets.gotocy.eu/static/img/logo.png'" src="/parent/webapp/public/assets/img/logo.png" alt="brand"></a>
                    </div>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{${helper.path('/', #locale.language)}}" th:text="#{org.gotocy.dictionary.home-page}" href="/parent/webapp/templates/home/index.html">Homepage</a></li>
                    </ul>
                </nav><!-- /.navbar collapse-->
                <!-- <div class="add-your-property">
                    <a href="#" class="btn btn-default"><i class="fa fa-plus"></i><span class="text" th:text="#{org.gotocy.dictionary.add-your-property}">Add Your Property</span></a>
                </div> -->
            </header><!-- /.navbar -->
        </div><!-- /.container -->
    </div><!-- /.navigation -->
    <!-- end Navigation -->
    <!-- Page Content -->
    <div id="page-content">
        <!-- Breadcrumb -->
        <div class="container">
            <ol class="breadcrumb">
                <li><a th:href="@{${helper.path('/', #locale.language)}}" th:text="#{org.gotocy.dictionary.home}" href="#">Home</a></li>
                <li th:if="${propertyStatus == null}" class="active" th:text="${breadcrumps}">Properties Listing</li>
                <li th:unless="${propertyStatus == null}"><a th:href="@{${helper.path('/properties', #locale.language)}}" th:text="${breadcrumps}" href="#">Properties Listing</a></li>
                <li th:unless="${param.propertyStatus == null}" class="active" th:text="${breadcrumpsForStatus}">Short Term</li>
            </ol>
        </div>
        <!-- end Breadcrumb -->

        <div class="container">
            <div class="row">
                <!-- Results -->
                <div class="col-md-9 col-sm-9">
                    <section id="results">
                        <header><h1 th:text="${title}">Properties Listing</h1></header>
                        <section id="search-filter">
                            <figure><h3 th:utext="|<i class='fa fa-search'></i>#{org.gotocy.dictionary.search-results}:|">Search Results:</h3>
                                <span class="search-count" th:text="${properties.totalElements}">28</span>
                            </figure>
                        </section>
                        <section id="properties">
                            <div class="grid" th:remove="all-but-first">
                                <div class="property masonry" th:each="lp,stat : ${properties}">
                                    <div class="inner" data-scroll-reveal th:attr="data-scroll-reveal=(${stat.index > 7}? 'true' : '')" th:with="offerStatus=${lp.property.offerStatus}, active=${offerStatus == T(org.gotocy.domain.OfferStatus).ACTIVE}, propertyType=${lp.property.propertyType}">
                                        <a th:href="@{${helper.path(lp)}}" href="property-detail.html">
                                            <div class="property-image">
                                                <figure class="tag status" th:text="${{lp.property.propertyStatus}}" th:if="${param.propertyStatus == null}">Sale</figure>
                                                <figure class="ribbon" th:unless="${active}" th:classappend="${offerStatus == T(org.gotocy.domain.OfferStatus).BOOKED}? 'ribbon-booked' : 'ribbon-sold'" th:text="${{offerStatus}}">Sold</figure>
                                                <figure class="type" th:if="${active}" th:title="${{propertyType}}" title="Vineyard"><img th:src="|http://assets.gotocy.eu/static/img/property-types/${helper.property.typeIcon(propertyType)}.png|" src="assets/img/property-types/vineyard.png"  alt=""></figure>
                                                <div class="overlay">
                                                    <div class="info">
                                                        <div class="tag price" th:utext="${helper.property.price(lp.property)}">$ 11,000</div>
                                                    </div>
                                                </div>
                                                <img alt="" th:class="${stat.count % 2 == 0}? 'extended-3'" th:src="${helper.imageUrl(lp.property.imageSet.representativeImage, T(org.gotocy.domain.ImageSize).MEDIUM)}" src="/parent/webapp/public/assets/img/properties/property-09.jpg">
                                            </div>
                                        </a>
                                        <aside>
                                            <header>
                                                <a th:href="@{${helper.path(lp)}}" href="property-detail.html"><h3 th:text="${lp.property.title}">3398 Lodgeville Road</h3></a>
                                                <figure th:text="${lp.property.shortAddress}">Golden Valley, MN 55427</figure>
                                            </header>
                                            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et dui vestibulum</p>-->
                                            <dl th:utext="${helper.property.listingSummaryHtml(lp.property)}">
                                                <dt>Status:</dt>
                                                <dd>Sale</dd>
                                                <dt>Area:</dt>
                                                <dd>860 m<sup>2</sup></dd>
                                                <dt>Beds:</dt>
                                                <dd>3</dd>
                                                <dt>Baths:</dt>
                                                <dd>2</dd>
                                            </dl>
                                            <a th:href="@{${helper.path(lp)}}" href="property-detail.html" class="link-arrow" th:text="#{org.gotocy.dictionary.read-more}">Read More</a>
                                        </aside>
                                    </div>
                                </div><!-- /.property -->
                                <div class="property masonry">
                                    <div class="inner">
                                        <a href="property-detail.html">
                                            <div class="property-image">
                                                <figure class="type" title="Villa"><img src="/parent/webapp/public/assets/img/property-types/villa.png"  alt=""></figure>
                                                <div class="overlay">
                                                    <div class="info">
                                                        <div class="tag price">$ 15,000</div>
                                                    </div>
                                                </div>
                                                <img alt="" src="/parent/webapp/public/assets/img/properties/masonry-03.jpg">
                                            </div>
                                        </a>
                                        <aside>
                                            <header>
                                                <a href="property-detail.html"><h3>1179 Stroop Hill Road</h3></a>
                                                <figure>Atlanta, GA 30309 </figure>
                                            </header>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et dui vestibulum</p>
                                            <dl>
                                                <dt>Status:</dt>
                                                <dd>Sale</dd>
                                                <dt>Area:</dt>
                                                <dd>860 m<sup>2</sup></dd>
                                                <dt>Beds:</dt>
                                                <dd>3</dd>
                                                <dt>Baths:</dt>
                                                <dd>2</dd>
                                            </dl>
                                            <a href="property-detail.html" class="link-arrow">Read More</a>
                                        </aside>
                                    </div>
                                </div><!-- /.property -->
                                <div class="property masonry">
                                    <div class="inner">
                                        <a href="property-detail.html">
                                            <div class="property-image">
                                                <figure class="tag status">For Sale</figure>
                                                <figure class="type" title="Vineyard"><img src="/parent/webapp/public/assets/img/property-types/vineyard.png"  alt=""></figure>
                                                <div class="overlay">
                                                    <div class="info">
                                                        <div class="tag price">$ 39,000</div>
                                                    </div>
                                                </div>
                                                <img alt="" src="/parent/webapp/public/assets/img/properties/property-02.jpg">
                                            </div>
                                        </a>
                                        <aside>
                                            <header>
                                                <a href="property-detail.html"><h3>1028 Henery Street</h3></a>
                                                <figure>Wichita, KS 67202 </figure>
                                            </header>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et dui vestibulum</p>
                                            <dl>
                                                <dt>Status:</dt>
                                                <dd>Sale</dd>
                                                <dt>Area:</dt>
                                                <dd>860 m<sup>2</sup></dd>
                                                <dt>Beds:</dt>
                                                <dd>3</dd>
                                                <dt>Baths:</dt>
                                                <dd>2</dd>
                                            </dl>
                                            <a href="property-detail.html" class="link-arrow">Read More</a>
                                        </aside>
                                    </div>
                                </div><!-- /.property -->
                                <div class="property masonry">
                                    <div class="inner">
                                        <a href="property-detail.html">
                                            <div class="property-image">
                                                <figure class="tag status">For Sale</figure>
                                                <figure class="type" title="Vineyard"><img src="/parent/webapp/public/assets/img/property-types/vineyard.png"  alt=""></figure>
                                                <div class="overlay">
                                                    <div class="info">
                                                        <div class="tag price">$ 39,000</div>
                                                    </div>
                                                </div>
                                                <img alt="" src="/parent/webapp/public/assets/img/properties/property-02.jpg">
                                            </div>
                                        </a>
                                        <aside>
                                            <header>
                                                <a href="property-detail.html"><h3>1028 Henery Street</h3></a>
                                                <figure>Wichita, KS 67202 </figure>
                                            </header>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et dui vestibulum</p>
                                            <dl>
                                                <dt>Status:</dt>
                                                <dd>Sale</dd>
                                                <dt>Area:</dt>
                                                <dd>860 m<sup>2</sup></dd>
                                                <dt>Beds:</dt>
                                                <dd>3</dd>
                                                <dt>Baths:</dt>
                                                <dd>2</dd>
                                            </dl>
                                            <a href="property-detail.html" class="link-arrow">Read More</a>
                                        </aside>
                                    </div>
                                </div><!-- /.property -->
                            </div><!-- /js-masonry-->
                        </section><!-- /#properties-->
                    </section><!-- /#results -->
                </div><!-- /.col-md-9 -->


                <!-- sidebar -->
                <div class="col-md-3 col-sm-3">
                    <section id="sidebar">
                        <aside id="edit-search">
                            <header><h3>Search Properties</h3></header>
                            <form role="form" id="form-sidebar" class="form-search" th:action="@{/properties}" th:method="get" th:object="${propertiesSearchForm}">
                                <div class="form-group">
                                    <select th:field="*{propertyStatus}">
                                        <option value="">Offer Type</option>
                                        <option th:each="type : ${T(org.gotocy.domain.PropertyStatus).values()}" th:value="${type}" th:text="${{type}}">Short Term</option>
                                    </select>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <select th:field="*{propertyType}">
                                        <option value="">Property Type</option>
                                        <option th:each="type : ${T(org.gotocy.domain.PropertyType).values()}" th:value="${type}" th:text="${{type}}">Apartment</option>
                                    </select>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <select th:field="*{location}">
                                        <option value="">Location</option>
                                        <option th:each="location : ${T(org.gotocy.domain.Location).values()}" th:value="${location}" th:text="${{location}}">Larnaca</option>
                                    </select>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <div class="price-range">
                                        <input id="price-input" type="text" name="price" value="1000;299000">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Search Now</button>
                                </div><!-- /.form-group -->
                            </form><!-- /#form-map -->
                        </aside><!-- /#edit-search -->
                    </section><!-- /#sidebar -->
                </div><!-- /.col-md-3 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
    <!-- end Page Content -->
    <!-- Page Footer -->
    <footer id="page-footer" th:include="fragments/footer :: footer">
        <div class="inner">
            <aside id="footer-main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <article>
                                <h3>About Us</h3>
                                <p>Vel fermentum ipsum. Suspendisse quis molestie odio. Interdum et malesuada fames ac ante ipsum
                                    primis in faucibus. Quisque aliquet a metus in aliquet. Praesent ut turpis posuere, commodo odio
                                    id, ornare tortor
                                </p>
                            </article>
                        </div><!-- /.col-sm-3 -->
                        <div class="col-md-3 col-sm-3">
                            <article>
                                <h3>Contact</h3>
                                <address>
                                    <strong>Your Company</strong><br>
                                    4877 Spruce Drive<br>
                                    West Newton, PA 15089
                                </address>
                                +1 (734) 123-4567<br>
                                <a href="#">hello@example.com</a>
                            </article>
                        </div><!-- /.col-sm-3 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </aside><!-- /#footer-main -->
            <aside id="footer-copyright">
                <div class="container">
                    <span>Copyright © 2015. All Rights Reserved.</span>
                    <span class="pull-right"><a href="#page-top" class="roll">Go to top</a></span>
                </div>
            </aside>
        </div><!-- /.inner -->
    </footer>

</div>

<script type="text/javascript" th:src="@{/assets/js/application.min.js}" src="/parent/webapp/public/assets/js/application.min.js"></script>

<!--[if gt IE 8]>
<script type="text/javascript" src="http://assets.gotocy.eu/static/js/ie.js"></script>
<![endif]-->


</body>
</html>