<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en-US" th:lang="${#locale.language}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:each="locale : ${T(org.gotocy.config.Locales).SUPPORTED}" rel="alternate" th:hreflang="${locale.language}" th:href="@{${helper.path('/properties/new', locale)}}" hreflang="en"  href="#" />

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link th:href="@{/assets/css/application.min.css}" href="/parent/webapp/public/assets/css/application.min.css" rel="stylesheet" type="text/css">

    <title th:text="${i18n.t('templates.title', i18n.t('templates.property.new.add-your-property'))}">GoToCy</title>

</head>

<body class="page-sub-page page-submit" id="page-top">
<div th:replace="fragments/metrics_div :: ya"></div>
<div class="wrapper">
    <div class="navigation">
        <div class="secondary-navigation">
            <div class="container">
                <div class="contact" th:include="fragments/contact_div :: contact">
                    <figure><strong>Phone:</strong>+1 810-991-3842</figure>
                    <figure><strong>Email:</strong>zoner@example.com</figure>
                </div>
                <div class="user-area">
                    <div class="language-bar" th:include="fragments/language_bar_div :: language_bar(${'/properties/new'})">
                        <a href="#" class="active"><img src="/parent/webapp/public/assets/img/flags/gb.png" alt=""></a>
                        <a href="#"><img src="/parent/webapp/public/assets/img/flags/ru.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <header class="navbar" id="top" role="banner">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only" th:text="${i18n.t('dictionary.toggle-navigation')}">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand nav" id="brand">
                        <a th:href="@{${helper.path('/')}}" href="/parent/webapp/templates/home/index.html"><img th:src="'http://assets.gotocy.com/static/img/logo.png'" src="/parent/webapp/public/assets/img/logo.png" alt="brand"></a>
                    </div>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{${helper.path('/')}}" th:text="${i18n.t('dictionary.home-page')}" href="/parent/webapp/templates/home/index.html">Homepage</a></li>
                    </ul>
                </nav><!-- /.navbar collapse-->
            </header><!-- /.navbar -->
        </div><!-- /.container -->
    </div><!-- /.navigation -->

    <div id="page-content">
        <!-- Breadcrumb -->
        <div class="container">
            <ol class="breadcrumb">
                <li><a th:href="@{${helper.path('/')}}" th:text="${i18n.t('dictionary.home')}" href="#">Home</a></li>
                <li class="active" th:text="${i18n.t('templates.property.new.add-your-property')}">Add your property</li>
            </ol>
        </div>
        <!-- end Breadcrumb -->

        <div class="container">
            <header><h1 th:text="${i18n.t('templates.property.new.add-your-property-capitalized')}">Add Your Property</h1></header>
            <form role="form" id="form-submit" class="form-submit" method="post" th:object="${userPropertyForm}" th:action="@{${helper.path('/properties')}}" enctype="multipart/form-data">

                <!--Errors-->
                <div class="row" th:if="${#fields.hasAnyErrors()}">
                    <div class="col-md-7 col-sm-7">
                        <div class="error-messages">
                            <ul>
                                <li th:each="error : ${#fields.detailedErrors()}" th:text="${error.message}">Some error</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="block">
                        <div class="col-md-7 col-sm-7">
                            <section id="basic-information">
                                <header><h2 th:text="${i18n.t('dictionary.property-details')}">Property Details</h2></header>

                                <div class="form-group">
                                    <label for="title" th:text="${i18n.t('dictionary.title')}">Title</label>
                                    <input type="text" class="form-control" id="title" th:field="*{title}" required>
                                </div>

                                <div class="form-group">
                                    <label for="propertyType" th:text="${i18n.t('dictionary.property-type')}">Property Type</label>
                                    <select id="propertyType" th:field="*{propertyType}" th:remove="all-but-first" required>
                                        <option value="1" th:each="type : ${T(org.gotocy.domain.PropertyType).values()}" th:value="${type}" th:text="${{type}}">Apartment</option>
                                        <option value="2">Condominium</option>
                                        <option value="3">Cottage</option>
                                        <option value="4">Flat</option>
                                        <option value="5">House</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="propertyStatus" th:text="${i18n.t('dictionary.offer-type')}">Offer Type</label>
                                    <select id="propertyStatus" th:field="*{propertyStatus}" th:remove="all-but-first" required>
                                        <option value="1" th:each="status : ${T(org.gotocy.domain.PropertyStatus).values()}" th:value="${status}" th:text="${{status}}">Sale</option>
                                        <option value="2">Short Term</option>
                                        <option value="3">Long Term</option>
                                    </select>
                                </div>


                                <div class="form-group">
                                    <label for="plotSize" th:text="${i18n.t('dictionary.plot-size')}">Plot Size</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="plotSize" th:field="*{plotSize}" pattern="\d+">
                                        <span class="input-group-addon" th:utext="${i18n.t('dictionary.sq-meters')}">m<sup>2</sup></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="coveredArea" class="control-label" th:text="${i18n.t('dictionary.covered-area')}">Covered Area</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="coveredArea" th:field="*{coveredArea}" pattern="\d+">
                                        <span class="input-group-addon" th:utext="${i18n.t('dictionary.sq-meters')}">m<sup>2</sup></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="bedrooms" th:text="${i18n.t('dictionary.levels')}">Level(s)</label>
                                    <input type="text" class="form-control" id="levels" th:field="*{levels}" pattern="\d+">
                                </div>


                                <div class="form-group">
                                    <label for="bedrooms" th:text="${i18n.t('dictionary.bedrooms.plural')}">Bedrooms</label>
                                    <input type="text" class="form-control" id="bedrooms" th:field="*{bedrooms}" pattern="\d+">
                                </div>

                                <div class="form-group">
                                    <label for="guests" th:text="${i18n.t('dictionary.guests')}">Guests</label>
                                    <input type="text" class="form-control" id="guests" th:field="*{guests}" pattern="\d+">
                                </div>

                                <div class="form-group">
                                    <label for="distanceToSea" th:text="${i18n.t('dictionary.distance-to-sea')}">To Sea</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="distanceToSea" th:field="*{distanceToSea}" pattern="\d+">
                                        <span class="input-group-addon" th:text="${i18n.t('dictionary.meters')}">m</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="furnishing" th:text="${i18n.t('dictionary.furnishing')}">Furnishing</label>
                                    <select id="furnishing" th:field="*{furnishing}">
                                        <option value="1" th:each="furnishing : ${T(org.gotocy.domain.Furnishing).values()}" th:value="${furnishing}" th:text="${{furnishing}}">Semi</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label th:text="${i18n.t('dictionary.misc-info')}">Misc Info</label>

                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" th:field="*{airConditioner}"><span th:text="${i18n.t('dictionary.air-conditioner')}">Air Conditioner</span>
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" th:field="*{heatingSystem}"><span th:text="${i18n.t('dictionary.heating-system')}">Heating System</span>
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" th:field="*{readyToMoveIn}"><span th:text="${i18n.t('dictionary.ready-to-move-in')}">Ready to Move in</span>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="description" th:text="${i18n.t('dictionary.description')}">Description</label>
                                    <textarea class="form-control" id="description" rows="16" th:field="*{description}"></textarea>
                                </div>
                            </section><!-- /#basic-information -->
                        </div>
                        <div class="col-md-3 col-md-offset-1 col-sm-4">
                            <aside class="submit-step">
                                <figure class="step-number">1</figure>
                                <div class="description">
                                    <h4 th:text="${i18n.t('templates.property.new.enter-property-details')}">Enter Property Details</h4>
                                    <p th:text="${i18n.t('templates.property.new.hint-1-upper')}">Type information about your property</p>
                                    <p th:utext="${i18n.t('templates.property.new.hint-1-lower')}"><strong>Hint:</strong> Visitors tend to pay more attention on properties with descriptive title</p>
                                </div>
                            </aside><!-- /.submit-step -->
                        </div>
                    </div><!-- /.block -->
                </div><!-- /.row -->

                <div class="row">
                    <div class="block">
                        <div class="col-md-7 col-sm-7">
                            <section class="block" id="place-on-map">
                                <header class="section-title"><h2 th:text="${i18n.t('dictionary.place-on-map')}">Place on Map</h2></header>
                                <div class="form-group">
                                    <label for="address-search" th:text="${i18n.t('templates.property.new.search-the-address')}">Search the Address</label>
                                    <input type="text" class="form-control" id="address-search" name="address-search">
                                </div><!-- /.form-group -->
                                <label for="submit-map" th:text="${i18n.t('templates.property.new.drag-the-marker')}">Or drag the marker to property position</label>
                                <div id="submit-map"></div>

                                <input type="hidden" id="location" th:field="*{{location}}">
                                <input type="hidden" id="address" th:field="*{address}">
                                <input type="hidden" id="latitude" th:field="*{latitude}">
                                <input type="hidden" id="longitude" th:field="*{longitude}">
                            </section>
                        </div>

                        <div class="col-md-3 col-md-offset-1 col-sm-4">
                            <aside class="submit-step">
                                <figure class="step-number">2</figure>
                                <div class="description">
                                    <h4 th:text="${i18n.t('templates.property.new.specify-location')}">Specify Location</h4>
                                    <p th:text="${i18n.t('templates.property.new.hint-2-upper')}">Place the marker in the property's position</p>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="block">
                        <div class="col-md-7 col-sm-7">
                            <section class="block" id="gallery">
                                <header><h2 th:text="${i18n.t('dictionary.gallery')}">Gallery</h2></header>
                                <div class="center">
                                    <div class="form-group">
                                        <input id="images-upload" type="file" name="images" class="file" multiple="true" accept="image/jpeg">
                                        <figure class="note" th:utext="${i18n.t('templates.property.new.upload-hint', gotocy.userPropertyForm.maxFileCount, gotocy.userPropertyForm.maxFileSizeMb)}"><strong>Hint:</strong> You can upload all images at once!</figure>
                                    </div>
                                </div>
                            </section>
                        </div>

                        <div class="col-md-3 col-md-offset-1 col-sm-4">
                            <aside class="submit-step">
                                <figure class="step-number">3</figure>
                                <div class="description">
                                    <h4 th:text="${i18n.t('templates.property.new.upload-property-pictures')}">Upload Property Pictures</h4>
                                    <p th:text="${i18n.t('templates.property.new.hint-3-upper')}">The first picture will be used for preview purposes</p>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="block">
                        <div class="col-md-7 col-sm-7">
                            <div class="center">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default large" th:text="${i18n.t('dictionary.proceed')}">Proceed</button>
                                </div><!-- /.form-group -->
                            </div>
                        </div>
                    </div>
                </div>
            </form><!-- /#form-submit -->
        </div><!-- /.container -->
    </div>
    <!-- end Page Content -->

    <footer id="page-footer" th:include="fragments/footer :: footer">
        <div class="inner">
            <aside id="footer-main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <article>
                                <h3>About Us</h3>
                                <p>Vel fermentum ipsum. Suspendisse quis molestie odio. Interdum et malesuada fames ac ante ipsum
                                    primis in faucibus. Quisque aliquet a metus in aliquet. Praesent ut turpis posuere, commodo odio
                                    id, ornare tortor
                                </p>
                                <hr>
                                <a href="#" class="link-arrow">Read More</a>
                            </article>
                        </div><!-- /.col-sm-3 -->
                        <div class="col-md-3 col-sm-3">
                            <article>
                                <h3>Recent Properties</h3>
                                <div class="property small">
                                    <a href="property-detail.html">
                                        <div class="property-image">
                                            <img alt="" src="/parent/webapp/public/assets/img/properties/property-06.jpg">
                                        </div>
                                    </a>
                                    <div class="info">
                                        <a href="property-detail.html"><h4>2186 Rinehart Road</h4></a>
                                        <figure>Doral, FL 33178 </figure>
                                        <div class="tag price">$ 72,000</div>
                                    </div>
                                </div><!-- /.property -->
                                <div class="property small">
                                    <a href="property-detail.html">
                                        <div class="property-image">
                                            <img alt="" src="/parent/webapp/public/assets/img/properties/property-09.jpg">
                                        </div>
                                    </a>
                                    <div class="info">
                                        <a href="property-detail.html"><h4>2479 Murphy Court</h4></a>
                                        <figure>Minneapolis, MN 55402</figure>
                                        <div class="tag price">$ 36,000</div>
                                    </div>
                                </div><!-- /.property -->
                            </article>
                        </div><!-- /.col-sm-3 -->
                        <div class="col-md-3 col-sm-3">
                            <article>
                                <h3>Contact</h3>
                                <address>
                                    <strong>Your Company</strong><br>
                                    4877 Spruce Drive<br>
                                    West Newton, PA 15089
                                </address>
                                +1 (734) 123-4567<br>
                                <a href="#">hello@example.com</a>
                            </article>
                        </div><!-- /.col-sm-3 -->
                        <div class="col-md-3 col-sm-3">
                            <article>
                                <h3>Useful Links</h3>
                                <ul class="list-unstyled list-links">
                                    <li><a href="#">All Properties</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Login and Register Account</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Terms and Conditions</a></li>
                                </ul>
                            </article>
                        </div><!-- /.col-sm-3 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </aside><!-- /#footer-main -->
            <aside id="footer-thumbnails" class="footer-thumbnails"></aside><!-- /#footer-thumbnails -->
            <aside id="footer-copyright">
                <div class="container">
                    <span>Copyright © 2013. All Rights Reserved.</span>
                    <span class="pull-right"><a href="#page-top" class="roll">Go to top</a></span>
                </div>
            </aside>
        </div><!-- /.inner -->
    </footer>
</div>

<script type="text/javascript" th:src="@{/assets/js/application.min.js}" src="/parent/webapp/public/assets/js/static-application.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places&language=en" th:src="'http://maps.google.com/maps/api/js?sensor=false&libraries=places&language=' + ${#locale.language}"></script>
<script type="text/javascript" th:src="@{/assets/js/application-maps.min.js}" src="/parent/webapp/public/assets/js/application-maps.min.js"></script>

<!--[if gt IE 8]>
<script type="text/javascript" src="http://assets.gotocy.com/static/js/ie.js"></script>
<![endif]-->

<script th:inline="javascript">
    var _latitude = /*[[${userPropertyForm.latitude}]]*/ '34.7071301';
    var _longitude = /*[[${userPropertyForm.longitude}]]*/ '33.022617399999945';

    PropertyNewPage.init(
        /*[[${gotocy.userPropertyForm.maxFileCount}]]*/ 10,
        /*[[${gotocy.userPropertyForm.maxFileSize}]]*/ 3000,
        /*[[${#locale.language}]]*/ 'en',
        /*[[${i18n.t('dictionary.browse-images')}]]*/ 'Browse Images'
    );

    google.maps.event.addDomListener(window, 'load', initPropertySubmitMap(_latitude, _longitude, 8));
</script>

</body>
</html>