<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
            <div class="well">
                <!--<div>
                    <button title="Close (Esc)" type="button" class="mfp-close">×</button>
                </div>-->
                <div id="virtual-tour-container" style="width:710px;height:470px;">
                    This content requires HTML5/CSS3, WebGL, or Adobe Flash Player Version 9 or higher.
                </div>
            </div>
        </div>
    </div>
</div>