<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en-US" th:lang="${#locale.language}" th:object="${developer}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:each="locale : ${T(org.gotocy.config.Locales).SUPPORTED}" rel="alternate" th:hreflang="${locale.language}" th:href="@{${helper.path(developer, locale)}}" hreflang="en"  href="#" />

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link th:href="@{/assets/css/application.min.css}" href="/parent/webapp/public/assets/css/application.min.css" rel="stylesheet" type="text/css">

    <title th:text="${i18n.t('templates.title', #object.name)}">Giovani Developers | GoToCy</title>

</head>

<body class="page-sub-page" id="page-top">
<!-- Wrapper -->
<div class="wrapper">
    <!-- Navigation -->
    <div class="navigation">
        <div class="secondary-navigation">
            <div class="container">
                <div class="contact" th:include="fragments/contact_div :: contact">
                    <figure><strong>Phone:</strong>+1 810-991-3842</figure>
                    <figure><strong>Email:</strong>zoner@example.com</figure>
                </div>
                <div class="user-area">
                    <div class="language-bar" th:include="fragments/language_bar_div :: language_bar(${developer})">
                        <a href="#" class="active"><img th:src="@{/assets/img/flags/gb.png}" src="/parent/webapp/public/assets/img/flags/gb.png" alt=""></a>
                        <a href="#"><img th:src="@{/assets/img/flags/ru.png}" src="/parent/webapp/public/assets/img/flags/ru.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <header class="navbar" id="top" role="banner">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only" th:text="${i18n.t('dictionary.toggle-navigation')}">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand nav" id="brand">
                        <a th:href="@{${helper.path('/')}}" href="/parent/webapp/templates/home/index.html"><img th:src="'http://assets.gotocy.eu/static/img/logo.png'" src="/parent/webapp/public/assets/img/logo.png" alt="brand"></a>
                    </div>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{${helper.path('/')}}" th:text="${i18n.t('dictionary.home-page')}" href="/parent/webapp/templates/home/index.html">Homepage</a></li>
                    </ul>
                </nav><!-- /.navbar collapse-->
                <!-- <div class="add-your-property">
                    <a href="#" class="btn btn-default"><i class="fa fa-plus"></i><span class="text" >Add Your Property</span></a>
                </div> -->
            </header><!-- /.navbar -->
        </div><!-- /.container -->
    </div><!-- /.navigation -->
    <!-- end Navigation -->

    <!-- Page Content -->
    <div id="page-content">
        <!-- Breadcrumb -->
        <div class="container">
            <ol class="breadcrumb">
                <li><a th:href="@{${helper.path('/')}}" th:text="${i18n.t('dictionary.home')}" href="#">Home</a></li>
                <li class="active" th:text="*{name}">Giovani Developers</li>
            </ol>
        </div>
        <!-- end Breadcrumb -->

        <div class="container">
            <div class="row">
                <!-- Content -->
                <div class="col-md-9 col-sm-9">
                    <section id="object-detail">
                        <header><h1 th:text="*{name}">Giovani Developers</h1></header>

                        <section id="description" th:unless=${#strings.isEmpty(developer.description)}>
                            <div th:utext="${helper.newLinesToParagraphs(developer.description)}">
                                <p>Giovani Developers’ history has been built upon the philosophies of its founder, Christakis Giovanis, who successfully developed a construction company into the biggest Cypriot property development company in the south-east of Cyprus. Giovani Developers build a wide range of luxury properties, mainly on the South East Coast of Cyprus in the areas of Avgorou, Ayia Napa, Ayia Thekla, Derynia, Frenaros, Oroklini, Pyla, Paralimni, Protaras, Pyla, Sotira, and Vrysoulles.</p>
                                <p>With a commitment to building excellence and quality of construction, the company was established in 1986 and, since then, it’s played a major role in the development of property in Cyprus. Nowadays, the company is widely recognized as one of the leaders in the Cyprus Property sector, due not only to its volume of building, but also due to the high standards of Quality and Customer Service that it provides to the market. Its operation techniques have been also recognized several times by quality associations and committees. As a result, Giovani Developers is the only company that complies fully with the International Standards of NQA ISO; something that has established its presence in the Cyprus Property market as a most reliable company.</p>
                                <p>Giovani Developers has a reputable portfolio, with 2000 individual clients to date. Since the company has established various procedures to ease everything from the purchase process up to the delivery process, clients have found that the stress from buying a property has been largely eliminated. Giovani Developers delivers approximately 300 properties on average, based on the sales record and on the company’s development strategy for 2003 up to 2010.</p>
                                <p>Initially, the company’s primary business was to serve the British Sovereign bases in Dekhelia back in the early 80s. Having been in the developing industry for more that 20 years, Giovani Developers holds a Grade A Construction license and it is classified among the elite of Cypriot contractors. Over the years, while the Group has significantly expanded, it still exclusively holds this contract. Giovani Developers has establish strong relationships with its clients, and due to this trust, Giovani Developers has a 14.4% total market share in the South East Coast. The nearest rival follows with 7.8%.</p>
                                <p>The Group will continue to provide quality services, and will take pride in delivering to clients the chance to experience the lifestyle of their dreams on the Island of Cyprus.</p>
                            </div>
                        </section><!-- /#description -->

                        <section id="projects" th:unless="${#lists.isEmpty(developer.complexes)}">
                            <header>
                                <h2 th:text="${i18n.t('dictionary.our-projects')}">Our Projects</h2>
                            </header>

                            <!--/*/ <th:block th:remove="all-but-first"> /*/-->
                            <div class="row project" th:each="complex : ${developer.complexes}">
                                <div class="col-md-4 col-sm-6">
                                    <a href="#" th:href="@{${helper.path(complex)}}">
                                        <img class="project-image" th:src="${helper.imageUrl(complex.representativeImage, T(org.gotocy.domain.ImageSize).MEDIUM)}" src="/parent/webapp/public/assets/img/properties/property-02.jpg" alt="">
                                    </a>
                                </div>
                                <div class="col-md-8 col-sm-6">
                                    <header>
                                        <h3 class="project-header" th:text="${complex.title}">Mesoyios Park Residences</h3>
                                    </header>
                                    <div th:utext="${helper.newLinesToParagraphs(complex.getDescription(#locale))}">
                                        <p>Not more than 5 minutes drive from Larnaca town centre, Mesoyios
                                            Park Residences is located in an established residential area, 200m
                                            from the beach. The project is composed of 23 residential plots, an
                                            area which has been identified for high growth potential and future
                                            development gains.</p>
                                        <p>The position provides privacy and accessibility to town and country
                                            with independent modern-designed villas comprising three
                                            bedrooms, laundry, gardens and private optional pool.</p>
                                        <p>These Residences come with the option of five designs, internal
                                            layouts and external finish. Great luxury options are featured comprising
                                            open plan living areas which can be modified to suit the
                                            purchases needs, kitchen/dining area, guest toilet, pantry and
                                            storage area, master bedroom with en-suite and main bathroom.
                                            Set amidst easy-care gardens with paved flooring bordering the
                                            optional pool, covered garage, and verandas.</p>
                                        <p>Mesoyios Residences uses a unique combination of glass, stone and
                                            timber to appeal to the new home buyer.</p>
                                    </div>
                                    <p><a href="blog-detail.html" class="link-arrow" th:href="@{${helper.path(complex)}}">Read More</a></p>
                                </div>
                            </div>


                            <div class="row project">
                                <div class="col-md-4 col-sm-6">
                                    <a href="#">
                                        <img class="project-image" src="/parent/webapp/public/assets/img/properties/property-05.jpg" alt="">
                                    </a>
                                </div>
                                <div class="col-md-8 col-sm-6">
                                    <header>
                                        <h3 class="project-header">Mesoyios Park Residences</h3>
                                    </header>
                                    <div>
                                        <p>Not more than 5 minutes drive from Larnaca town centre, Mesoyios
                                            Park Residences is located in an established residential area, 200m
                                            from the beach. The project is composed of 23 residential plots, an
                                            area which has been identified for high growth potential and future
                                            development gains.</p>
                                        <p>The position provides privacy and accessibility to town and country
                                            with independent modern-designed villas comprising three
                                            bedrooms, laundry, gardens and private optional pool.</p>
                                        <p>These Residences come with the option of five designs, internal
                                            layouts and external finish. Great luxury options are featured comprising
                                            open plan living areas which can be modified to suit the
                                            purchases needs, kitchen/dining area, guest toilet, pantry and
                                            storage area, master bedroom with en-suite and main bathroom.
                                            Set amidst easy-care gardens with paved flooring bordering the
                                            optional pool, covered garage, and verandas.</p>
                                        <p>Mesoyios Residences uses a unique combination of glass, stone and
                                            timber to appeal to the new home buyer.</p>
                                    </div>
                                    <p><a href="blog-detail.html" class="link-arrow">Read More</a></p>
                                </div>
                            </div>
                            <!--/*/ </th:block> /*/-->
                        </section>

                        <section id="properties" th:unless="${#lists.isEmpty(developer.properties)}">
                            <header>
                                <h2 th:text="${i18n.t('dictionary.our-properties')}">Our Properties</h2>
                            </header>

                            <div class="row" th:remove="all-but-first">
                                <div class="col-md-4 col-sm-4" th:each="p : ${developer.properties}">
                                    <div class="property">
                                        <figure class="ribbon" th:if="${p.offerStatus != T(org.gotocy.domain.OfferStatus).ACTIVE}" th:classappend="${p.offerStatus == T(org.gotocy.domain.OfferStatus).BOOKED}? 'ribbon-booked' : 'ribbon-sold'" th:text="${{p.offerStatus}}">Sold</figure>
                                        <a th:href="@{${helper.path(p)}}" href="/parent/webapp/templates/property/show.html">
                                            <div class="property-image">
                                                <img alt="" th:src="${helper.property.representativeImageUrl(p)}" src="/parent/webapp/public/assets/img/properties/property-06.jpg">
                                            </div>
                                            <div class="overlay">
                                                <div class="info">
                                                    <div class="tag price" th:utext="${helper.property.price(p)}">$ 11,000</div>
                                                    <h3 th:text="${p.title}">3398 Lodgeville Road</h3>
                                                    <figure th:text="${p.shortAddress}">Golden Valley, MN 55427</figure>
                                                </div>
                                                <ul class="additional-info">
                                                    <li th:each="field : ${helper.property.formattedFields(p, T(org.gotocy.helpers.property.FieldsStrategy).ADDITIONAL_INFO)}">
                                                        <header th:text="|${field.heading}:|">Bedrooms:</header>
                                                        <figure th:utext="${field.value}">2</figure>
                                                    </li>
                                                </ul>
                                            </div>
                                        </a>
                                    </div><!-- /.property -->
                                </div><!-- /.col-md-3 -->
                                <div class="col-md-4 col-sm-4">
                                    <div class="property">
                                        <figure class="tag status">For Rent</figure>
                                        <a href="property-detail.html">
                                            <div class="property-image">
                                                <img alt="" src="/parent/webapp/public/assets/img/properties/property-03.jpg">
                                            </div>
                                            <div class="overlay">
                                                <div class="info">
                                                    <div class="tag price">$ 38,000</div>
                                                    <h3>2186 Rinehart Road</h3>
                                                    <figure>Doral, FL 33178 </figure>
                                                </div>
                                                <ul class="additional-info">
                                                    <li>
                                                        <header>Area:</header>
                                                        <figure>240m<sup>2</sup></figure>
                                                    </li>
                                                    <li>
                                                        <header>Beds:</header>
                                                        <figure>3</figure>
                                                    </li>
                                                    <li>
                                                        <header>Baths:</header>
                                                        <figure>1</figure>
                                                    </li>
                                                    <li>
                                                        <header>Garages:</header>
                                                        <figure>1</figure>
                                                    </li>
                                                </ul>
                                            </div>
                                        </a>
                                    </div><!-- /.property -->
                                </div><!-- /.col-md-3 -->
                                <div class="col-md-4 col-sm-4">
                                    <div class="property">
                                        <a href="property-detail.html">
                                            <div class="property-image">
                                                <img alt="" src="/parent/webapp/public/assets/img/properties/property-06.jpg">
                                            </div>
                                            <div class="overlay">
                                                <div class="info">
                                                    <div class="tag price">$ 325,000</div>
                                                    <h3>3705 Brighton Circle Road</h3>
                                                    <figure>Glenwood, MN 56334</figure>
                                                </div>
                                                <ul class="additional-info">
                                                    <li>
                                                        <header>Area:</header>
                                                        <figure>240m<sup>2</sup></figure>
                                                    </li>
                                                    <li>
                                                        <header>Beds:</header>
                                                        <figure>3</figure>
                                                    </li>
                                                    <li>
                                                        <header>Baths:</header>
                                                        <figure>1</figure>
                                                    </li>
                                                    <li>
                                                        <header>Garages:</header>
                                                        <figure>1</figure>
                                                    </li>
                                                </ul>
                                            </div>
                                        </a>
                                    </div><!-- /.property -->
                                </div><!-- /.col-md-3 -->
                            </div>
                        </section>

                    </section><!-- /#object-detail -->
                </div><!-- /.col-md-9 -->
                <!-- end Content -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
    <!-- end Page Content -->

    <!-- Page Footer -->
    <footer id="page-footer" th:include="fragments/footer :: footer">
        <div class="inner">
            <aside id="footer-main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <article>
                                <h3>About Us</h3>
                                <p>Vel fermentum ipsum. Suspendisse quis molestie odio. Interdum et malesuada fames ac ante ipsum
                                    primis in faucibus. Quisque aliquet a metus in aliquet. Praesent ut turpis posuere, commodo odio
                                    id, ornare tortor
                                </p>
                            </article>
                        </div><!-- /.col-sm-3 -->
                        <div class="col-md-3 col-sm-3">
                            <article>
                                <h3>Contact</h3>
                                <address>
                                    <strong>Your Company</strong><br>
                                    4877 Spruce Drive<br>
                                    West Newton, PA 15089
                                </address>
                                +1 (734) 123-4567<br>
                                <a href="#">hello@example.com</a>
                            </article>
                        </div><!-- /.col-sm-3 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </aside><!-- /#footer-main -->
            <aside id="footer-copyright">
                <div class="container">
                    <span>Copyright © 2015. All Rights Reserved.</span>
                    <span class="pull-right"><a href="#page-top" class="roll">Go to top</a></span>
                </div>
            </aside>
        </div><!-- /.inner -->
    </footer>
    <!-- end Page Footer -->
</div>

<script type="text/javascript" th:src="@{/assets/js/application.min.js}" src="/parent/webapp/public/assets/js/application.min.js"></script>

<!--[if gt IE 8]>
<script type="text/javascript" src="http://assets.gotocy.eu/static/js/ie.js"></script>
<![endif]-->

</body>
</html>