<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en-US" th:lang="${#locale.language}" th:with="curPath='/user/profile'">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:each="locale : ${T(org.gotocy.config.Locales).SUPPORTED}" rel="alternate" th:hreflang="${locale.language}" th:href="@{${helper.path('/user/profile', locale)}}" hreflang="en"  href="#" />

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link th:href="@{/assets/css/application.min.css}" href="/parent/webapp/public/assets/css/application.min.css" rel="stylesheet" type="text/css">

    <title th:text="${i18n.t('templates.title', i18n.t('dictionary.my-profile'))}">My Profile | GoToCy</title>

</head>

<body class="page-sub-page page-profile page-account" id="page-top">
<!-- Wrapper -->
<div class="wrapper">
    <!-- Navigation -->
    <div class="navigation" th:include="fragments/navigation_div :: navigation('/user/profile', ${false})"></div>
    <!-- end Navigation -->

    <!-- Page Content -->
    <div id="page-content">
        <!-- Breadcrumb -->
        <div class="container">
            <ol class="breadcrumb">
                <li><a th:href="@{${helper.path('/')}}" th:text="${i18n.t('dictionary.home')}" href="#">Home</a></li>
                <li class="active" th:text="${i18n.t('dictionary.my-profile')}">My Profile</li>
            </ol>
        </div>
        <!-- end Breadcrumb -->

        <div class="container">
            <div class="row">
                <!-- sidebar -->
                <div class="col-md-3 col-sm-2">
                    <section id="sidebar">
                        <header><h3 th:text="${i18n.t('dictionary.navigation')}">Navigation</h3></header>
                        <aside>
                            <ul class="sidebar-navigation">
                                <li class="active"><a href="#" th:href="${helper.path('/user/profile')}"><i class="fa fa-user"></i><span th:text="${i18n.t('dictionary.my-profile')}">My Profile</span></a></li>
                                <li><a href="#" th:href="${helper.path('/user/properties')}"><i class="fa fa-home"></i><span th:text="${i18n.t('dictionary.my-properties')}">My Properties</span></a></li>
                            </ul>
                        </aside>
                    </section><!-- /#sidebar -->
                </div><!-- /.col-md-3 -->
                <!-- end Sidebar -->

                <!-- My Profile -->
                <div class="col-md-9 col-sm-10">
                    <section id="profile">
                        <header><h1 th:text="${i18n.t('dictionary.my-profile')}">My Profile</h1></header>

                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-sm-12">
                                <form role="form" id="form-account-profile" class="form-labeled" th:object="${contactsForm}" th:action="@{${helper.path('/user/contacts')}}" th:method="put">
                                    <section id="contact">
                                        <!--<h2 th:text="${i18n.t('dictionary.contacts')}">Contacts</h2>-->

                                        <ul class="error-messages" th:if="${#fields.hasAnyErrors()}">
                                            <li th:each="error : ${#fields.detailedErrors()}" th:text="${error.message}">Some error</li>
                                        </ul>

                                        <div class="form-group">
                                            <label for="name" th:text="${i18n.t('dictionary.name')}">Name</label>
                                            <input type="text" class="form-control" id="name" name="name" th:field="*{name}" required>
                                        </div><!-- /.form-group -->

                                        <div class="form-group">
                                            <label for="email" th:text="${i18n.t('dictionary.email')}">Email</label>
                                            <input type="text" class="form-control" id="email" name="email" th:field="*{email}" required>
                                        </div><!-- /.form-group -->

                                        <div class="form-group">
                                            <label for="phone" th:text="${i18n.t('dictionary.phone')}">Phone</label>
                                            <input type="text" class="form-control" id="phone" name="phone" th:field="*{phone}">
                                        </div><!-- /.form-group -->

                                        <div class="form-group">
                                            <label th:text="${i18n.t('dictionary.spoken-languages')}">Spoken Languages</label>
                                            <select multiple th:field="*{spokenLanguages}">
                                                <option th:each="locale : ${T(org.gotocy.config.Locales).SUPPORTED}"
                                                        th:value="${locale.language}"
                                                        th:text="${i18n.t('__${'dictionary.' + locale.language}__')}">English</option>
                                            </select>
                                        </div>

                                        <div class="form-group clearfix">
                                            <button type="submit" class="btn pull-right btn-default" th:text="${i18n.t('dictionary.update-contacts')}">Update Contacts</button>
                                        </div><!-- /.form-group -->
                                    </section>
                                </form><!-- /#form-contact -->
                            </div><!-- /.col-md-9 -->
                        </div><!-- /.row -->
                    </section><!-- /#profile -->
                </div><!-- /.col-md-9 -->
                <!-- end My Profile -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
    <!-- end Page Content -->

    <footer id="page-footer" th:include="fragments/footer :: footer"></footer>
</div>

<script type="text/javascript" th:src="@{/assets/js/application.min.js}" src="/parent/webapp/public/assets/js/application.min.js"></script>

<!--[if gt IE 8]>
<script type="text/javascript" src="http://assets.gotocy.com/static/js/ie.js"></script>
<![endif]-->

</body>
</html>