<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en-US" th:lang="${#locale.language}" th:object="${complex}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="alternate" hreflang="en" th:href="@{${helper.path(complex, 'en')}}" href="#" />
    <link rel="alternate" hreflang="ru" th:href="@{${helper.path(complex, 'ru')}}" href="#" />

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link th:href="@{/assets/css/application.min.css}" href="/parent/webapp/public/assets/css/application.min.css" rel="stylesheet" type="text/css">

    <title th:text="#{org.gotocy.templates.title(*{title})}">Mesoyios Park Residences | GoToCy</title>

</head>

<body class="page-sub-page page-property-detail" id="page-top">
<div th:replace="fragments/metrics_div :: ya"></div>
<!-- Wrapper -->
<div class="wrapper">
    <!-- Navigation -->
    <div class="navigation">
        <div class="secondary-navigation">
            <div class="container">
                <div class="contact" th:include="fragments/contact_div :: contact">
                    <figure><strong>Phone:</strong>+1 810-991-3842</figure>
                    <figure><strong>Email:</strong>zoner@example.com</figure>
                </div>
                <div class="user-area">
                    <div class="language-bar" th:include="fragments/language_bar_div :: language_bar(${complex})">
                        <a href="#" class="active"><img th:src="@{/assets/img/flags/gb.png}" src="/parent/webapp/public/assets/img/flags/gb.png" alt=""></a>
                        <a href="#"><img th:src="@{/assets/img/flags/ru.png}" src="/parent/webapp/public/assets/img/flags/ru.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <header class="navbar" id="top" role="banner">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only" th:text="#{org.gotocy.dictionary.toggle-navigation}">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand nav" id="brand">
                        <a th:href="@{${helper.path('/')}}" href="/parent/webapp/templates/home/index.html"><img th:src="'http://assets.gotocy.eu/static/img/logo.png'" src="/parent/webapp/public/assets/img/logo.png" alt="brand"></a>
                    </div>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{${helper.path('/')}}" th:text="#{org.gotocy.dictionary.home-page}" href="/parent/webapp/templates/home/index.html">Homepage</a></li>
                    </ul>
                </nav><!-- /.navbar collapse-->
                <!-- <div class="add-your-property">
                    <a href="#" class="btn btn-default"><i class="fa fa-plus"></i><span class="text" >Add Your Property</span></a>
                </div> -->
            </header><!-- /.navbar -->
        </div><!-- /.container -->
    </div><!-- /.navigation -->
    <!-- end Navigation -->
    <!-- Page Content -->
    <div id="page-content">
        <!-- Breadcrumb -->
        <div class="container">
            <ol class="breadcrumb">
                <li><a th:href="@{${helper.path('/')}}" th:text="#{org.gotocy.dictionary.home}" href="#">Home</a></li>
                <li class="active" th:text="#{org.gotocy.dictionary.complex-detail}">Complex Detail</li>
            </ol>
        </div>
        <!-- end Breadcrumb -->

        <div class="container">
            <div class="row">
                <!-- Property Detail Content -->
                <div class="col-md-9 col-sm-9">
                    <section id="property-detail">
                        <header class="property-title">
                            <h1 th:text="*{title}">Mesoyios Park Residences</h1>
                            <figure th:text="*{address}">Larnaca Dhekelia</figure>
                        </header>
                        <section id="property-gallery" th:unless="${#lists.isEmpty(complex.images)}">
                            <div class="pg-grid">
                                <div class="pg-grid-sizer"></div>
                                <div class="pg-grid-item pg-grid-item-w-4 pg-grid-item-h-4" th:style="|background-image: url('${helper.imageUrl(complex.getImage(0), T(org.gotocy.domain.ImageSize).MEDIUM)}');|" style="background-image: url('/parent/webapp/public/assets/img/properties/property-detail-03.jpg'); background-size: cover;"></div>
                                <div class="pg-grid-item pg-grid-item-w-2 pg-grid-item-h-2 pg-grid-item-small-hide" th:style="|background-image: url('${helper.imageUrl(complex.getImage(1), T(org.gotocy.domain.ImageSize).MEDIUM)}');|" style="background-image: url('/parent/webapp/public/assets/img/properties/property-detail-03.jpg'); background-size: cover;"></div>
                                <div class="pg-grid-item pg-grid-item-w-2 pg-grid-item-h-2 pg-grid-item-small-hide" th:style="|background-image: url('${helper.imageUrl(complex.getImage(2), T(org.gotocy.domain.ImageSize).MEDIUM)}');|" style="background-image: url('/parent/webapp/public/assets/img/properties/property-detail-03.jpg'); background-size: cover;"></div>
                                <div class="pg-grid-item pg-grid-item-w-2 pg-grid-item-h-2" th:style="|background-image: url('${helper.imageUrl(complex.getImage(3), T(org.gotocy.domain.ImageSize).MEDIUM)}')|" style="background-image: url('/parent/webapp/public/assets/img/properties/property-detail-03.jpg');"></div>
                                <div class="pg-grid-item pg-grid-item-w-2 pg-grid-item-h-2" th:style="|background-image: url('${helper.imageUrl(complex.getImage(4), T(org.gotocy.domain.ImageSize).MEDIUM)}')|" style="background-image: url('http://assets.gotocy.eu/static/img/properties/property-detail-01.jpg');">
                                    <div id="gallery-popup-container" class="icon-container">
                                        <i class="fa fa-camera"></i><br><span class="hint" >Click to View Gallery</span>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section id="description" th:unless=${#strings.isEmpty(complex.description)}>
                            <header><h2 th:text="#{org.gotocy.dictionary.description}">Description</h2></header>
                            <div th:utext="${helper.newLinesToParagraphs(complex.description)}">
                                <p>Not more than 5 minutes drive from Larnaca town centre, Mesoyios
                                Park Residences is located in an established residential area, 200m
                                from the beach. The project is composed of 23 residential plots, an
                                area which has been identified for high growth potential and future
                                development gains.</p>
                                <p>The position provides privacy and accessibility to town and country
                                with independent modern-designed villas comprising three
                                bedrooms, laundry, gardens and private optional pool.</p>
                                <p>These Residences come with the option of five designs, internal
                                layouts and external finish. Great luxury options are featured comprising
                                open plan living areas which can be modified to suit the
                                purchases needs, kitchen/dining area, guest toilet, pantry and
                                storage area, master bedroom with en-suite and main bathroom.
                                Set amidst easy-care gardens with paved flooring bordering the
                                optional pool, covered garage, and verandas.</p>
                                <p>Mesoyios Residences uses a unique combination of glass, stone and
                                timber to appeal to the new home buyer.</p>
                            </div>
                        </section><!-- /#description -->

                        <section id="complex-developer" th:remove="all">
                            <div class="well" style="border: 1px dotted #e3e3e3; background-color: white;">
                                <h3>Project of the Livadhiotis Developers group</h3>
                                <a href="#" class="link-arrow">Read More</a>
                            </div>
                        </section>

                        <section id="complex-specifications" th:unless=${#lists.isEmpty(complex.specifications)}>
                            <header><h2 th:text="#{org.gotocy.dictionary.specifications}">Specifications</h2></header>
                            <ul class="list-unstyled property-features-list" th:remove="all-but-first">
                                <li th:each="s : *{specifications}" th:text="${s}">Multiple modern architectural designs to choose from</li>
                                <li>A selection of three and four bedroom , three bathroom houses</li>
                                <li>Provision for fireplace</li>
                                <li>Allocated space for W/M and dryer on first floor</li>
                                <li>Optional private pools</li>
                                <li>Covered garage</li>
                                <li>Extensive use of stone, glass and timber on exterior</li>
                                <li>Energy efficient building</li>
                                <li>Landscaped gardens</li>
                                <li>5 minutes from Larnaca town and the Phinikoudes promenade</li>
                                <li>200 meters from the beach</li>
                                <li>Easy access to all major highways linking to Nicosia, Limassol and all other towns</li>
                                <li>Underground power supply installation</li>
                            </ul>
                        </section><!-- /#property-features -->

                        <section id="property-map">
                            <header><h2 th:text="#{org.gotocy.dictionary.map-location}">Location</h2></header>
                            <div class="property-detail-map-wrapper">
                                <div class="property-detail-map" id="property-detail-map"></div>
                            </div>
                        </section><!-- /#property-map -->

                        <section id="properties" th:unless="${#lists.isEmpty(complex.properties)}">
                            <header><h2 th:text="#{org.gotocy.dictionary.properties}">Properties</h2></header>
                            <div class="grid" th:include="fragments/property_masonry_grid_div :: property_masonry_grid (properties=${complex.properties})">
                                <div class="property masonry">
                                    <div class="inner" data-scroll-reveal>
                                        <a href="#">
                                            <div class="property-image">
                                                <figure class="tag status">Sale</figure>
                                                <figure class="ribbon">Sold</figure>
                                                <figure class="type" title="Vineyard"><img src="assets/img/property-types/vineyard.png"  alt=""></figure>
                                                <div class="overlay">
                                                    <div class="info">
                                                        <div class="tag price">$ 11,000</div>
                                                    </div>
                                                </div>
                                                <img alt="" src="/parent/webapp/public/assets/img/properties/property-09.jpg">
                                            </div>
                                        </a>
                                        <aside>
                                            <header>
                                                <a href="#"><h3>3398 Lodgeville Road</h3></a>
                                                <figure>Golden Valley, MN 55427</figure>
                                            </header>
                                            <dl>
                                                <dt>Status:</dt>
                                                <dd>Sale</dd>
                                                <dt>Area:</dt>
                                                <dd>860 m<sup>2</sup></dd>
                                                <dt>Beds:</dt>
                                                <dd>3</dd>
                                                <dt>Baths:</dt>
                                                <dd>2</dd>
                                            </dl>
                                            <a href="#" class="link-arrow">Read More</a>
                                        </aside>
                                    </div>
                                </div><!-- /.property -->
                                <div class="property masonry">
                                    <div class="inner">
                                        <a href="property-detail.html">
                                            <div class="property-image">
                                                <figure class="type" title="Villa"><img src="/parent/webapp/public/assets/img/property-types/villa.png"  alt=""></figure>
                                                <div class="overlay">
                                                    <div class="info">
                                                        <div class="tag price">$ 15,000</div>
                                                    </div>
                                                </div>
                                                <img alt="" src="/parent/webapp/public/assets/img/properties/masonry-03.jpg">
                                            </div>
                                        </a>
                                        <aside>
                                            <header>
                                                <a href="property-detail.html"><h3>1179 Stroop Hill Road</h3></a>
                                                <figure>Atlanta, GA 30309 </figure>
                                            </header>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et dui vestibulum</p>
                                            <dl>
                                                <dt>Status:</dt>
                                                <dd>Sale</dd>
                                                <dt>Area:</dt>
                                                <dd>860 m<sup>2</sup></dd>
                                                <dt>Beds:</dt>
                                                <dd>3</dd>
                                                <dt>Baths:</dt>
                                                <dd>2</dd>
                                            </dl>
                                            <a href="property-detail.html" class="link-arrow">Read More</a>
                                        </aside>
                                    </div>
                                </div><!-- /.property -->
                                <div class="property masonry">
                                    <div class="inner">
                                        <a href="property-detail.html">
                                            <div class="property-image">
                                                <figure class="tag status">For Sale</figure>
                                                <figure class="type" title="Vineyard"><img src="/parent/webapp/public/assets/img/property-types/vineyard.png"  alt=""></figure>
                                                <div class="overlay">
                                                    <div class="info">
                                                        <div class="tag price">$ 39,000</div>
                                                    </div>
                                                </div>
                                                <img alt="" src="/parent/webapp/public/assets/img/properties/property-02.jpg">
                                            </div>
                                        </a>
                                        <aside>
                                            <header>
                                                <a href="property-detail.html"><h3>1028 Henery Street</h3></a>
                                                <figure>Wichita, KS 67202 </figure>
                                            </header>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et dui vestibulum</p>
                                            <dl>
                                                <dt>Status:</dt>
                                                <dd>Sale</dd>
                                                <dt>Area:</dt>
                                                <dd>860 m<sup>2</sup></dd>
                                                <dt>Beds:</dt>
                                                <dd>3</dd>
                                                <dt>Baths:</dt>
                                                <dd>2</dd>
                                            </dl>
                                            <a href="property-detail.html" class="link-arrow">Read More</a>
                                        </aside>
                                    </div>
                                </div><!-- /.property -->
                                <div class="property masonry">
                                    <div class="inner">
                                        <a href="property-detail.html">
                                            <div class="property-image">
                                                <figure class="tag status">For Sale</figure>
                                                <figure class="type" title="Vineyard"><img src="/parent/webapp/public/assets/img/property-types/vineyard.png"  alt=""></figure>
                                                <div class="overlay">
                                                    <div class="info">
                                                        <div class="tag price">$ 39,000</div>
                                                    </div>
                                                </div>
                                                <img alt="" src="/parent/webapp/public/assets/img/properties/property-02.jpg">
                                            </div>
                                        </a>
                                        <aside>
                                            <header>
                                                <a href="property-detail.html"><h3>1028 Henery Street</h3></a>
                                                <figure>Wichita, KS 67202 </figure>
                                            </header>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et dui vestibulum</p>
                                            <dl>
                                                <dt>Status:</dt>
                                                <dd>Sale</dd>
                                                <dt>Area:</dt>
                                                <dd>860 m<sup>2</sup></dd>
                                                <dt>Beds:</dt>
                                                <dd>3</dd>
                                                <dt>Baths:</dt>
                                                <dd>2</dd>
                                            </dl>
                                            <a href="property-detail.html" class="link-arrow">Read More</a>
                                        </aside>
                                    </div>
                                </div><!-- /.property -->
                            </div><!-- /js-masonry-->
                        </section><!-- /#properties-->

                    </section><!-- /#property-detail -->
                </div><!-- /.col-md-9 -->
                <!-- end Property Detail Content -->

                <!-- sidebar -->
                <div class="col-md-3 col-sm-3">
                    <section id="sidebar">
                        <aside id="primary-contact">
                            <header><h3 th:text="#{org.gotocy.dictionary.primary-contact}">Primary Contact</h3></header>
                            <dl th:replace="fragments/primary_contact_dl :: primary_contact(*{primaryContact})">
                                <dt>Name:</dt>
                                <dd>Denis</dd>

                                <dt>Email:</dt>
                                <dd>support@gotocy.eu</dd>

                                <dt>Phone:</dt>
                                <dd>123-45-67</dd>

                                <dt>Spoken Languages:</dt>
                                <dd>English, Russian</dd>
                            </dl>
                        </aside><!-- /#primary-contact -->

                        <aside id="complex-stats">
                            <header><h3 th:text="#{org.gotocy.dictionary.stats}">Stats</h3></header>
                            <dl>
                                <dt th:text="|#{org.gotocy.dictionary.total-number-of-properties}:|">Total Number of Properties:</dt>
                                <dd th:text="*{propertiesCount}">42</dd>
                                <dt th:text="|#{org.gotocy.dictionary.number-of-available-properties}:|">Number of Available Properties:</dt>
                                <dd th:text="*{propertiesWithActiveOfferCount}">8</dd>
                            </dl>
                        </aside><!-- /#complex-stats -->

                        <aside id="additional-materials" th:unless="${#lists.isEmpty(complex.pdfFiles)}">
                            <header><h3 th:text="#{org.gotocy.dictionary.additional-materials}">Additional Materials</h3></header>
                            <!--/*/ <th:block th:each="file : *{pdfFiles}" th:remove="all-but-first"> /*/-->
                            <a href="#" th:href="${helper.url(file)}" class="universal-button">
                                <figure class="fa fa-file-pdf-o"></figure>
                                <span th:text="${file.displayName}">A34 -Mesoyios Residences</span>
                            </a>
                            <a href="#" class="universal-button">
                                <figure class="fa fa-file-pdf-o"></figure>
                                <span>Presentation House Type A</span>
                            </a>
                            <a href="#" class="universal-button">
                                <figure class="fa fa-file-pdf-o"></figure>
                                <span>Presentation House Type B</span>
                            </a>
                            <!--/*/ </th:block> /*/-->
                        </aside>
                    </section><!-- /#sidebar -->
                </div><!-- /.col-md-3 -->
                <!-- end Sidebar -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
    <!-- end Page Content -->
    <!-- Page Footer -->
    <footer id="page-footer" th:include="fragments/footer :: footer">
        <div class="inner">
            <aside id="footer-main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <article>
                                <h3>About Us</h3>
                                <p>Vel fermentum ipsum. Suspendisse quis molestie odio. Interdum et malesuada fames ac ante ipsum
                                    primis in faucibus. Quisque aliquet a metus in aliquet. Praesent ut turpis posuere, commodo odio
                                    id, ornare tortor
                                </p>
                            </article>
                        </div><!-- /.col-sm-3 -->
                        <div class="col-md-3 col-sm-3">
                            <article>
                                <h3>Contact</h3>
                                <address>
                                    <strong>Your Company</strong><br>
                                    4877 Spruce Drive<br>
                                    West Newton, PA 15089
                                </address>
                                +1 (734) 123-4567<br>
                                <a href="#">hello@example.com</a>
                            </article>
                        </div><!-- /.col-sm-3 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </aside><!-- /#footer-main -->
            <aside id="footer-copyright">
                <div class="container">
                    <span>Copyright © 2015. All Rights Reserved.</span>
                    <span class="pull-right"><a href="#page-top" class="roll">Go to top</a></span>
                </div>
            </aside>
        </div><!-- /.inner -->
    </footer>
    <!-- end Page Footer -->
</div>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
    var images = /*[[${helper.imageUrls(complex.images)}]]*/ '';
    var title = /*[[*{title}]]*/ 'Mesoyios Park Residences';
    var coordinates = eval(/*[[*{coordinates}]]*/ '[{lat:34.983005, lng:33.729343},{lat:34.983919, lng:33.729756},{lat:34.983845, lng:33.730158},{lat:34.983651, lng:33.730561},{lat:34.983137, lng:33.730979},{lat:34.982838, lng:33.729616}]');
/*]]>*/
</script>

<script type="text/javascript" th:src="@{/assets/js/application.min.js}" src="/parent/webapp/public/assets/js/application.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" th:src="@{/assets/js/application-maps.min.js}" src="/parent/webapp/public/assets/js/application-maps.min.js"></script>

<!--[if gt IE 8]>
<script type="text/javascript" src="http://assets.gotocy.eu/static/js/ie.js"></script>
<![endif]-->

<script type="text/javascript" th:inline="javascript">
    google.maps.event.addDomListener(window, 'load', complexMap(title, coordinates));
</script>


</body>
</html>