<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en-US" th:lang="${#locale.language}" th:with="curPath='/users/new'">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:each="locale : ${T(org.gotocy.config.Locales).SUPPORTED}" rel="alternate" th:hreflang="${locale.language}" th:href="@{${helper.path('/users/new', locale)}}" hreflang="en"  href="#" />

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link th:href="@{/assets/css/application.min.css}" href="/parent/webapp/public/assets/css/application.min.css" rel="stylesheet" type="text/css">

    <title th:text="${i18n.t('templates.title', i18n.t('dictionary.sign-up'))}">Sign Up | GoToCy</title>

</head>

<body class="page-sub-page page-sign-up page-account" id="page-top">
<div class="wrapper">
    <!-- Navigation -->
    <div class="navigation" th:include="fragments/navigation_div :: navigation('/users/new', ${false})"></div>
    <!-- end Navigation -->

    <!-- Page Content -->
    <div id="page-content">
        <div class="container">
            <ol class="breadcrumb">
                <li><a th:href="@{${helper.path('/')}}" th:text="${i18n.t('dictionary.home')}" href="#">Home</a></li>
                <li class="active" th:text="${i18n.t('dictionary.sign-up')}">Sign Up</li>
            </ol>
        </div>

        <div class="container">
            <header><h1 th:text="${i18n.t('dictionary.sign-up')}">Sign Up</h1></header>
            <form role="form" id="form-sign-up" th:object="${userRegistrationForm}" th:action="@{${helper.path('/users')}}" th:method="post">

                <div class="row" th:if="${#fields.hasAnyErrors()}">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <ul class="error-messages" th:replace="user/form :: formErrors">
                            <li>Some error</li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3" th:include="user/form :: formFields">
                        <div class="form-group">
                            <label for="name">Your Name</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Your Email</label>
                            <input type="text" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" required>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Confirm Password</label>
                            <input type="password" class="form-control" id="confirmPassword" required>
                        </div>
                        <div class="form-group clearfix">
                            <button type="submit" class="btn btn-default pull-right" id="account-submit">Sign Up</button>
                        </div>
                    </div>
                </div><!-- /.row -->
            </form>
        </div><!-- /.container -->
    </div>
    <!-- end Page Content -->

    <footer id="page-footer" th:include="fragments/footer :: footer"></footer>
</div>


<script type="text/javascript" th:src="@{/assets/js/application.min.js}" src="/parent/webapp/public/assets/js/application.min.js"></script>

<!--[if gt IE 8]>
<script type="text/javascript" src="http://assets.gotocy.com/static/js/ie.js"></script>
<![endif]-->

</body>
</html>