<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en-US" th:lang="${#locale.language}" th:with="curPath='/user/new'">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:each="locale : ${T(org.gotocy.config.Locales).SUPPORTED}" rel="alternate" th:hreflang="${locale.language}" th:href="@{${helper.path('/user/new', locale)}}" hreflang="en"  href="#" />

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link th:href="@{/assets/css/application.min.css}" href="/parent/webapp/public/assets/css/application.min.css" rel="stylesheet" type="text/css">

    <title th:text="${i18n.t('templates.title', i18n.t('dictionary.sign-up'))}">Property Detail | GoToCy</title>

</head>

<body class="page-sub-page page-sign-up page-account" id="page-top">
<div class="wrapper">
    <div class="navigation">
        <div class="secondary-navigation">
            <div class="container">
                <div class="contact" th:include="fragments/contact_div :: contact">
                    <figure><strong>Phone:</strong>+1 810-991-3842</figure>
                    <figure><strong>Email:</strong>zoner@example.com</figure>
                </div>
                <div class="user-area">
                    <div class="language-bar" th:include="fragments/language_bar_div :: language_bar('/user/new')">
                        <a href="#" class="active"><img src="/parent/webapp/public/assets/img/flags/gb.png" alt=""></a>
                        <a href="#"><img src="/parent/webapp/public/assets/img/flags/ru.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <header class="navbar" id="top" role="banner">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only" th:text="${i18n.t('dictionary.toggle-navigation')}">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand nav" id="brand">
                        <a th:href="@{${helper.path('/', #locale)}}" href="/parent/webapp/templates/home/index.html"><img th:src="'http://assets.gotocy.com/static/img/logo.png'" src="/parent/webapp/public/assets/img/logo.png" alt="brand"></a>
                    </div>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{${helper.path('/', #locale)}}" th:text="${i18n.t('dictionary.home-page')}" href="/parent/webapp/templates/home/index.html">Homepage</a></li>
                    </ul>
                </nav><!-- /.navbar collapse-->
            </header><!-- /.navbar -->
        </div><!-- /.container -->
    </div><!-- /.navigation -->

    <!-- Page Content -->
    <div id="page-content">
        <div class="container">
            <ol class="breadcrumb">
                <li><a th:href="@{${helper.path('/')}}" th:text="${i18n.t('dictionary.home')}" href="#">Home</a></li>
                <li class="active" th:text="${i18n.t('dictionary.sign-up')}">Sign Up</li>
            </ol>
        </div>

        <div class="container">
            <header><h1 th:text="${i18n.t('dictionary.sign-up')}">Sign Up</h1></header>
            <form role="form" id="form-sign-up" th:object="${userRegistrationForm}" th:action="@{${helper.path('/user')}}" th:method="post" >

                <div class="row" th:if="${#fields.hasAnyErrors()}">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <ul class="error-messages">
                            <li th:each="error : ${#fields.detailedErrors()}" th:text="${error.message}">Some error</li>
                        </ul>
                    </div>
                </div><!-- /.row -->

                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <div class="form-group">
                            <label for="name" th:text="${i18n.t('dictionary.your-name')}">Your Name</label>
                            <input type="text" class="form-control" id="name" name="name" th:field="*{name}" required>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label for="email" th:text="${i18n.t('dictionary.your-email')}">Your Email</label>
                            <input type="text" class="form-control" id="email" name="email" th:field="*{email}" required>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label for="password" th:text="${i18n.t('dictionary.password')}">Password</label>
                            <input type="password" class="form-control" id="password" th:field="*{password}" required>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label for="confirmPassword" th:text="${i18n.t('dictionary.confirm-password')}">Confirm Password</label>
                            <input type="password" class="form-control" id="confirmPassword" th:field="*{confirmPassword}" required>
                        </div><!-- /.form-group -->
                        <div class="form-group clearfix">
                            <button type="submit" class="btn btn-default pull-right" id="account-submit" th:text="${i18n.t('dictionary.sign-up')}">Sign Up</button>
                        </div><!-- /.form-group -->
                    </div>
                </div><!-- /.row -->
            </form>
        </div><!-- /.container -->
    </div>
    <!-- end Page Content -->

    <footer id="page-footer" th:include="fragments/footer :: footer"></footer>
</div>


<script type="text/javascript" th:src="@{/assets/js/application.min.js}" src="/parent/webapp/public/assets/js/application.min.js"></script>

<!--[if gt IE 8]>
<script type="text/javascript" src="http://assets.gotocy.com/static/js/ie.js"></script>
<![endif]-->

</body>
</html>