<form th:fragment="form(object, action, method)" role="form" id="form-submit" class="form-submit" th:action="${action}" th:method="${method}" th:object="${__${object}__}">
    <div class="row">
        <div class="block">
            <div class="col-md-9 col-sm-9">
                <section id="submit-form">
                    <section class="block" id="owners">
                        <header><h2>Property Owner</h2></header>

                        <div class="form-group">
                            <label for="ownerId">Owner</label>
                            <select id="ownerId" th:field="*{owner.id}">
                                <option value="-1">Create new...</option>
                                <option value="1" th:each="owner : ${owners}" th:value="${owner.id}" th:text="${owner.name}">Denis</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="ownerName">Name</label>
                            <input type="text" class="form-control" id="ownerName" th:field="*{owner.name}">
                        </div>

                        <div class="form-group">
                            <label for="ownerPhone">Phone</label>
                            <input type="text" class="form-control" id="ownerPhone" th:field="*{owner.phone}">
                        </div>

                        <div class="form-group">
                            <label for="ownerEmail">Email</label>
                            <input type="text" class="form-control" id="ownerEmail" th:field="*{owner.email}">
                        </div>

                        <div class="form-group">
                            <label for="ownerSpokenLanguages">Spoken Languages</label>
                            <input type="text" class="form-control" id="ownerSpokenLanguages" th:field="*{owner.spokenLanguages}">
                        </div>
                    </section>

                    <section id="basic-information">
                        <header><h2>Basic Information</h2></header>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" class="form-control" id="title" th:field="*{title}" required>
                                </div><!-- /.form-group -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="address">Full Address</label>
                                    <input type="text" class="form-control" id="address" th:field="*{address}" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="shortAddress">Short Address</label>
                                    <input type="text" class="form-control" id="shortAddress" th:field="*{shortAddress}" required>
                                </div>
                            </div>
                        </div>
                    </section><!-- /#basic-information -->

                    <section>
                        <div class="row">
                            <div class="block clearfix">
                                <div class="col-md-6 col-sm-6">
                                    <section id="summary">
                                        <header><h2>Quick Summary</h2></header>

                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="location">Location</label>
                                                    <select id="location" th:field="*{location}" th:remove="all-but-first" required>
                                                        <option value="1" th:each="location : ${T(org.gotocy.domain.Location).values()}" th:value="${location}" th:text="${{location}}">Larnaca</option>
                                                        <option value="2">Limassol</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="propertyType">Property Type</label>
                                                    <select id="propertyType" th:field="*{propertyType}" th:remove="all-but-first" required>
                                                        <option value="1" th:each="type : ${T(org.gotocy.domain.PropertyType).values()}" th:value="${type}" th:text="${{type}}">Apartment</option>
                                                        <option value="2">Condominium</option>
                                                        <option value="3">Cottage</option>
                                                        <option value="4">Flat</option>
                                                        <option value="5">House</option>
                                                    </select>
                                                </div><!-- /.form-group -->
                                            </div><!-- /.col-md-6 -->
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label for="propertyStatus">Offer Type</label>
                                                    <select id="propertyStatus" th:field="*{propertyStatus}" th:remove="all-but-first" required>
                                                        <option value="1" th:each="status : ${T(org.gotocy.domain.PropertyStatus).values()}" th:value="${status}" th:text="${{status}}">Long Term Rent</option>
                                                        <option value="2">Short Term Rent</option>
                                                    </select>
                                                </div><!-- /.form-group -->
                                            </div><!-- /.col-md-6 -->

                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label for="offerStatus">Offer Status</label>
                                                    <select id="offerStatus" th:field="*{offerStatus}" required>
                                                        <option value="1" th:each="status : ${T(org.gotocy.domain.OfferStatus).values()}" th:value="${status}" th:text="${{status}}">Active</option>
                                                    </select>
                                                </div><!-- /.form-group -->
                                            </div><!-- /.col-md-6 -->

                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label for="price">Offer Price</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">&euro;</span>
                                                        <input type="text" class="form-control" id="price" th:field="*{price}" pattern="\d*" required>
                                                    </div>
                                                </div><!-- /.form-group -->
                                            </div><!-- /.col-md-6 -->
                                        </div><!-- /.row -->

                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="coveredArea">Covered Area</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="coveredArea" th:field="*{coveredArea}" pattern="\d*">
                                                        <span class="input-group-addon">m<sup>2</sup></span>
                                                    </div>
                                                </div><!-- /.form-group -->
                                            </div><!-- /.col-md-6 -->
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="plotSize">Plot Size</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="plotSize" th:field="*{plotSize}" pattern="\d*">
                                                        <span class="input-group-addon">m<sup>2</sup></span>
                                                    </div>
                                                </div><!-- /.form-group -->
                                            </div><!-- /.col-md-6 -->
                                        </div><!-- /.row -->

                                        <div class="row">
                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label for="bedrooms">Bedrooms</label>
                                                    <input type="text" class="form-control" id="bedrooms" th:field="*{bedrooms}" pattern="\d*">
                                                </div><!-- /.form-group -->
                                            </div><!-- /.col-md-4 -->

                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label for="guests">Guests</label>
                                                    <input type="text" class="form-control" id="guests" th:field="*{guests}" pattern="\d*">
                                                </div><!-- /.form-group -->
                                            </div><!-- /.col-md-4 -->

                                            <div class="col-md-4 col-sm-4">
                                                <div class="form-group">
                                                    <label for="distanceToSea">To Sea</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="distanceToSea" th:field="*{distanceToSea}" pattern="\d*">
                                                        <span class="input-group-addon">m</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- /.row -->

                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="furnishing">Furnishing</label>
                                                    <select id="furnishing" th:field="*{furnishing}">
                                                        <option value="1" th:each="furnishing : ${T(org.gotocy.domain.Furnishing).values()}" th:value="${furnishing}" th:text="${{furnishing}}">Semi</option>
                                                    </select>
                                                </div><!-- /.form-group -->
                                            </div>
                                        </div>

                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" th:field="*{airConditioner}">Air Conditioner
                                            </label>
                                        </div>

                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" th:field="*{heatingSystem}">Heating System
                                            </label>
                                        </div>

                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" th:field="*{readyToMoveIn}">Ready to Move in
                                            </label>
                                        </div>

                                    </section><!-- /#summary -->
                                </div><!-- /.col-md-6 -->
                                <div class="col-md-6 col-sm-6">
                                    <section id="place-on-map">
                                        <header class="section-title">
                                            <h2>Place on Map</h2>
                                            <span class="link-arrow geo-location">Get My Position</span>
                                        </header>
                                        <div class="form-group">
                                            <label for="address-map">Address</label>
                                            <input type="text" class="form-control" id="address-map" name="address">
                                        </div><!-- /.form-group -->
                                        <label for="address-map">Or drag the marker to property position</label>
                                        <div id="submit-map"></div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="latitude" th:field="*{latitude}">
                                                </div><!-- /.form-group -->
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="longitude" th:field="*{longitude}">
                                                </div><!-- /.form-group -->
                                            </div>
                                        </div>
                                    </section><!-- /#place-on-map -->
                                </div><!-- /.col-md-6 -->
                            </div><!-- /.block -->
                        </div><!-- /.row -->
                    </section>

                    <section class="block" id="details">
                        <header><h2>Property Details</h2></header>

                        <div class="form-group">
                            <label for="descriptionEn">Description (en)</label>
                            <textarea class="form-control" id="descriptionEn" rows="8" th:field="*{enDescription}"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="specificationsEn">Specifications (en)</label>
                            <textarea class="form-control" id="specificationsEn" rows="8" th:field="*{enSpecifications}"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="descriptionRu">Description (ru)</label>
                            <textarea class="form-control" id="descriptionRu" rows="8" th:field="*{ruDescription}"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="specificationsRu">Specifications (ru)</label>
                            <textarea class="form-control" id="specificationsRu" rows="8" th:field="*{ruSpecifications}"></textarea>
                        </div>
                    </section>

                    <section class="block" id="assets">
                        <header><h2>Assets</h2></header>

                        <div class="form-group">
                            <label for="images">Images Path</label>
                            <textarea class="form-control" id="images" rows="8" th:field="*{images}"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="representativeImage">Representative Image Path</label>
                            <input type="text" class="form-control" id="representativeImage" th:field="*{imageSet.representativeImage.key}">
                        </div>

                        <div class="form-group">
                            <label for="panoXml">Pano XML Path</label>
                            <input type="text" class="form-control" id="panoXml" th:field="*{panoXml.key}">
                        </div>
                    </section>

                    <hr>
                </section>
            </div><!-- /.col-md-9 -->
        </div>
    </div><!-- /.row -->
    <div class="row">
        <div class="block">
            <div class="col-md-9 col-sm-9">
                <div class="center">
                    <div class="form-group">
                        <button type="submit" class="btn btn-default large">Save</button>
                    </div><!-- /.form-group -->
                </div>
            </div>
        </div>
    </div>
</form><!-- /#form-submit -->