<div class="language-bar" th:fragment="language_bar(pathObject)">
    <a th:each="locale : ${T(org.gotocy.config.Locales).SUPPORTED}" th:href="@{${helper.path(pathObject, locale)}}" href="#" th:class="${#locale == locale}? 'active'" class="active"><img th:src="${helper.flagUrlForLocale(locale)}" src="/parent/webapp/public/assets/img/flags/gb.png" alt=""></a>
</div>

<div class="language-bar" th:fragment="language_bar_for_locales(pathObject, locales)">
    <a th:each="locale : ${locales}" th:href="@{${helper.path(pathObject, locale)}}" href="#" th:class="${#locale == locale}? 'active'" class="active"><img th:src="${helper.flagUrlForLocale(locale)}" src="/parent/webapp/public/assets/img/flags/gb.png" alt=""></a>
</div>