<dl th:fragment="primary_contact(contact)" th:with="c=(${contact == null}? ${gotocy.defaultContact} : ${contact})">
    <dt th:text="|${i18n.t('dictionary.name')}:|">Name:</dt>
    <dd th:text="${c.name}">Denis</dd>

    <dt th:unless="${#strings.isEmpty(c.email)}" th:text="|${i18n.t('dictionary.email')}:|">Email:</dt>
    <dd th:unless="${#strings.isEmpty(c.email)}" th:text="${c.email}">support@gotocy.eu</dd>

    <dt th:text="|${i18n.t('dictionary.phone')}:|">Phone:</dt>
    <dd th:text="${c.phone}">123-45-67</dd>

    <dt th:text="|${i18n.t('dictionary.spoken-languages')}:|">Spoken Languages:</dt>
    <dd th:text="${c.spokenLanguages}">English, Russian</dd>
</dl>