<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en-US" th:lang="${#locale.language}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link th:href="@{/assets/css/application.min.css}" href="/parent/webapp/public/assets/css/application.min.css" rel="stylesheet" type="text/css">

    <title th:text="#{org.gotocy.templates.title('G.M. DECO FOR YOU')}">Property Detail | GoToCy</title>

</head>

<body class="page-sub-page page-property-detail" id="page-top">
<div th:replace="fragments/metrics_div :: ya"></div>
<!-- Wrapper -->
<div class="wrapper">
    <!-- Navigation -->
    <div class="navigation">
        <div class="secondary-navigation">
            <div class="container">
                <div class="contact" th:include="fragments/contact_div :: contact">
                    <figure><strong>Phone:</strong>+1 810-991-3842</figure>
                    <figure><strong>Email:</strong>zoner@example.com</figure>
                </div>
            </div>
        </div>
        <div class="container">
            <header class="navbar" id="top" role="banner">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only" th:text="#{org.gotocy.dictionary.toggle-navigation}">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand nav" id="brand">
                        <a th:href="@{${helper.path('/')}}" href="/parent/webapp/templates/home/index.html"><img th:src="'http://assets.gotocy.eu/static/img/logo.png'" src="/parent/webapp/public/assets/img/logo.png" alt="brand"></a>
                    </div>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{${helper.path('/')}}" th:text="#{org.gotocy.dictionary.home-page}" href="/parent/webapp/templates/home/index.html">Homepage</a></li>
                    </ul>
                </nav><!-- /.navbar collapse-->
            </header><!-- /.navbar -->
        </div><!-- /.container -->
    </div><!-- /.navigation -->
    <!-- end Navigation -->
    <!-- Page Content -->
    <div id="page-content">
        <!-- Breadcrumb -->
        <div class="container">
            <ol class="breadcrumb">
                <li><a th:href="@{${helper.path('/')}}" th:text="#{org.gotocy.dictionary.home}" href="#">Home</a></li>
                <li class="active">G.M. DECO FOR YOU</li>
            </ol>
        </div>
        <!-- end Breadcrumb -->

        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <section>
                        <header><h1>G.M. DECO FOR YOU</h1></header>
                        <div class="grid">
                            <div class="grid-item grid-item-w-33">
                                <img src="http://assets.gotocy.eu/static/img/gm_deco/logo_1.jpg" style="max-width:100%;display:block;margin-left:auto;margin-right:auto;">
                            </div>
                            <div class="grid-item grid-item-w-33">
                                <img src="http://assets.gotocy.eu/static/img/gm_deco/logo_2.jpg" style="max-width:100%;display:block;margin-left:auto;margin-right:auto;">
                            </div>
                            <div class="grid-item grid-item-w-33 grid-item-small-hide">
                                <img src="http://assets.gotocy.eu/static/img/gm_deco/logo_3.jpg" style="max-width:100%;display:block;margin-left:auto;margin-right:auto;">
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="block">
                            <div class="row" style="text-align: center;">
                                <div class="col-md-4 col-sm-12">
                                    <header><h3 style="height: 40px;">INTERIOR AND EXTERIOR DESIGN</h3></header>
                                    <section style="padding-left: 20px;padding-right: 20px;">
                                        decoration and functionalism
                                        residences, shops, offices, surgeries, restaurants, cafeterias
                                        creation and manufacture of decorative unique work
                                    </section>
                                </div>

                                <div class="col-md-4 col-sm-12">
                                    <header><h3 style="height: 40px;">ARCHITECTURAL PLANNING AND STUDIES</h3></header>
                                    <section style="padding-left: 20px;padding-right: 20px;">
                                        planning of buildings, residences, shops, office places and anything that needs architectural study
                                        restoration, maintenance
                                        static study, electromechanical engineering study,
                                        lighting and climate control
                                    </section>
                                </div>

                                <div class="col-md-4 col-sm-12">
                                    <header><h3 style="height: 40px;">GARDEN</h3></header>
                                    <section style="padding-left: 20px;padding-right: 20px;">
                                        planning and creation of gardens, swimming-pools
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section>
                        <header><h2>Buildings</h2></header>
                    </section>
                </div><!-- /.col-md-9 -->

                <!-- sidebar -->
                <div class="col-md-3 col-sm-12">
                    <section id="sidebar">
                        <aside id="primary-contact">
                            <header><h3 th:text="#{org.gotocy.dictionary.primary-contact}">Primary Contact</h3></header>
                            <dl th:replace="fragments/primary_contact_dl :: primary_contact(contact=*{primaryContact})">
                                <dt>Name:</dt>
                                <dd>Denis</dd>

                                <dt>Email:</dt>
                                <dd>support@gotocy.eu</dd>

                                <dt>Phone:</dt>
                                <dd>123-45-67</dd>

                                <dt>Spoken Languages:</dt>
                                <dd>English, Russian</dd>
                            </dl>
                        </aside><!-- /#primary-contact -->
                    </section><!-- /#sidebar -->
                </div><!-- /.col-md-3 -->
                <!-- end Sidebar -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
    <!-- end Page Content -->
    <!-- Page Footer -->
    <footer id="page-footer" th:include="fragments/footer :: footer">
        <div class="inner">
            <aside id="footer-main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <article>
                                <h3>About Us</h3>
                                <p>Vel fermentum ipsum. Suspendisse quis molestie odio. Interdum et malesuada fames ac ante ipsum
                                    primis in faucibus. Quisque aliquet a metus in aliquet. Praesent ut turpis posuere, commodo odio
                                    id, ornare tortor
                                </p>
                            </article>
                        </div><!-- /.col-sm-3 -->
                        <div class="col-md-3 col-sm-3">
                            <article>
                                <h3>Contact</h3>
                                <address>
                                    <strong>Your Company</strong><br>
                                    4877 Spruce Drive<br>
                                    West Newton, PA 15089
                                </address>
                                +1 (734) 123-4567<br>
                                <a href="#">hello@example.com</a>
                            </article>
                        </div><!-- /.col-sm-3 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </aside><!-- /#footer-main -->
            <aside id="footer-copyright">
                <div class="container">
                    <span>Copyright © 2015. All Rights Reserved.</span>
                    <span class="pull-right"><a href="#page-top" class="roll">Go to top</a></span>
                </div>
            </aside>
        </div><!-- /.inner -->
    </footer>
    <!-- end Page Footer -->
</div>

<script type="text/javascript" th:src="@{/assets/js/application.min.js}" src="/parent/webapp/public/assets/js/application.min.js"></script>

<!--[if gt IE 8]>
<script type="text/javascript" src="http://assets.gotocy.eu/static/js/ie.js"></script>
<![endif]-->

</body>
</html>